@media screen and (max-width: 1400px) {
    #profile { height: auto; margin-bottom: 6rem; }
    section { margin: 0 5rem; }
    .about-containers { flex-wrap: wrap; }
}

@media screen and (max-width: 1200px) {
    #desktop-nav { display: none; }
    #profile { display: block; text-align: center; }
    section { margin: 0 5%; }
    .section__pic-container { width: 275px; height: 275px; margin: 0 auto 2rem; }
    .profile-description { margin-left: auto; margin-right: auto; }
}

@media screen and (max-width: 600px) {
    .title { font-size: 2rem; }
    .section__text__p2 { font-size: 1.25rem; }
    .contact-info-upper-container { flex-direction: column; align-items: center; }
    .btn-container { flex-direction: column; align-items: center; }
    .btn { width: 100%; }
}